<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/meta')%>
  </head>
  <body>
    <header>
      <%- include('../partials/nav-me')%>

      <%- include('../partials/carousel')%>
    </header>
    <main>
      <section class="sec-ubicacion">
       <%- include('../partials/ubicacion')%>
      </section>

      <section class="sec-servicios">
        <div class="container">
          <h2 class="sec-title">Algunos productos</h2>
            <div class="row justify-content-center">
              <div class="servicio2 col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title2"> <a href="#">Disyuntores</a></h4>
              </div>
              <div class="servicio2 col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title2"> <a href="#">Cables</a></h4>
              </div>
              <div class="servicio2 col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title2"> <a href="#">Lamparas</a></h4>
              </div>
              <div class="servicio2 col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title2"> <a href="#">Llaves termicas</a></h4>
              </div>
          </div>
        </div>
      </section>
      <section class="sec-cards">
        <div class="container">
        <h2 class="sec-title">Linea San Justo iluminación</h2>
          <div class="cards-container">
            <div class="row justify-content-center">
              <div class="card mt-3 col-xs-10 col-sm-10 col-md-6 col-lg-3">
                <img src="img/Card1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Linea Ostende</h5>
                  <p class="card-text">Articulo #056810</p>
                  <a href="#" class="btn btn-primary">VER MAS</a>
                </div>
              </div><div class="card mt-3 col-xs-10 col-sm-10 col-md-6 col-lg-3">
                <img src="img/card2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Linea Cardales</h5>
                  <p class="card-text">Modelo esfera</p>
                  <a href="#" class="btn btn-primary">VER MAS</a>
                </div>
              </div><div class="card mt-3 col-xs-10 col-sm-10 col-md-6 col-lg-3">
                <img src="img/Card3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Linea Cardales</h5>
                  <p class="card-text">Modelo aviar</p>
                  <a href="#" class="btn btn-primary">VER MAS</a>
                </div>
              </div><div class="card mt-3 col-xs-10 col-sm-10 col-md-6 col-lg-3">
                <img src="img/Card4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Linea Cardales</h5>
                  <p class="card-text">Modelo botella</p>
                  <a href="#" class="btn btn-primary">VER MAS</a>
                </div>
              </div>
            </div>
          </div>
      </div>

    </section>
    </main>

     <%- include('../partials/footer-me')%>
  </body>
</html>
