<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/meta')%>
  </head>
  <body>
    <header>
      <%- include('../partials/nav-em')%>

      <%- include('../partials/carousel')%>
    </header>
    <main>
      <section class="sec-servicios">
        <div class="container">
          <h2 class="sec-title">Nuestros servicios</h2>
            <div class="row justify-content-center">
              <div class="servicio col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title"> <a href="#">Corrección de factor de potencia</a></h4>
              </div>
              <div class="servicio col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title"> <a href="#">Instalaciones electricas</a></h4>
              </div>
              <div class="servicio col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title"> <a href="#">Medición puesta a tierra</a></h4>
              </div>
              <div class="servicio col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title"> <a href="#">Planos electromecanicos</a></h4>
              </div>
              <div class="servicio col-xs-10 col-sm-10 col-md-5 col-lg-2">
                <h4 class="serv-title"> <a href="#">Certificación de aptitud eléctrica</a></h4>
        </div>
          </div>
        </div>
      </section>

      <section class="contacto-sec">
        <%- include('../partials/contacto')%>
      </section>
    </main>

    <%- include('../partials/footer-em')%>
  </body>
</html>
